.head{
    background-color: rgb(255, 217, 0);
    height: 75px;
    width: 64px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
    position:absolute;
    top: 660px;
    left: 1000px;
    border: 2px black solid;
}
/* cabelos */
/* fio 1 */
.fio1{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid rgb(255, 217, 0);
    position: absolute;
    bottom: 69px;
    left: -3px;
    transform: rotate(-16deg);
}
.fio1::before{
    content:"fio1";
    background-color: transparent;
    position:absolute;
    border-top: black 2px solid;
    width: 22px;
    transform: rotate(-73deg);
    color: transparent;
    left:-6px;
    top:4px;
}
.linhabart1{
    background-color: transparent;
    border-top: 2px black solid;
    height: 0px;
    width: 13px;
    position: absolute;
    transform: rotate(77deg);
    top: 8px;
    left: -5px;
}
/* fio 2 */
.fio2{
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 20px solid rgb(255, 217, 0);
    position: absolute;
    bottom: 70px;
    left: 5px;
}
.fio2::before{
    content:"fio1";
    background-color: transparent;
    position:absolute;
    border-top: black 2px solid;
    width: 15px;
    transform: rotate(-68deg);
    color: transparent;
    left:-2px;
    top:2px;
}
.linhabart2{
    background-color: transparent;
    border-top: 2px black solid;
    height: 0px;
    width: 16px;
    position: absolute;
    transform: rotate(73deg);
    top: 8px;
    left: -5px;
}
/* fio 3 */
.fio3{
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 20px solid rgb(255, 217, 0);
    position: absolute;
    bottom: 70px;
    left: 15px;
}
.fio3::before{
    content:"fio1";
    background-color: transparent;
    position:absolute;
    border-top: black 2px solid;
    width: 15px;
    transform: rotate(-68deg);
    color: transparent;
    left:-2px;
    top:2px;
}
.linhabart3{
    background-color: transparent;
    border-top: 2px black solid;
    height: 0px;
    width: 16px;
    position: absolute;
    transform: rotate(73deg);
    top: 8px;
    left: -6px;
}
/* fio 4 */
.fio4{
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 20px solid rgb(255, 217, 0);
    position: absolute;
    bottom: 70px;
    left: 24px;
}
.fio4::before{
    content:"fio1";
    background-color: transparent;
    position:absolute;
    border-top: black 2px solid;
    width: 16px;
    transform: rotate(-68deg);
    color: transparent;
    left:-2px;
    top:2px;
}
.linhabart4{
    background-color: transparent;
    border-top: 2px black solid;
    height: 0px;
    width: 16px;
    position: absolute;
    transform: rotate(73deg);
    top: 8px;
    left: -6px;
}
/* fio 5 */
.fio5{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 20px solid rgb(255, 217, 0);
    position: absolute;
    bottom: 70px;
    left:35px;
}
.fio5::before{
    content:"fio1";
    background-color: transparent;
    position:absolute;
    border-top: black 2px solid;
    width: 18px;
    transform: rotate(-68deg);
    color: transparent;
    left:-4px;
    top:2px;
}
.linhabart5{
    background-color: transparent;
    border-top: 2px black solid;
    height: 0px;
    width: 16px;
    position: absolute;
    transform: rotate(73deg);
    top: 8px;
    left: -6px;
}
/* fio 6 */
.fio6{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 20px solid rgb(255, 217, 0);
    position: absolute;
    bottom: 70px;
    left:45px;
}
.fio6::before{
    content:"fio1";
    background-color: transparent;
    position:absolute;
    border-top: black 2px solid;
    width: 16px;
    transform: rotate(-68deg);
    color: transparent;
    left:-3px;
    top:2px;
}
.linhabart6{
    background-color: transparent;
    border-top: 2px black solid;
    height: 0px;
    width: 16px;
    position: absolute;
    transform: rotate(73deg);
    top: 8px;
    left: -6px;
}
/* fio 7 */
.fio7{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid rgb(255, 217, 0);
    position: absolute;
    bottom: 69px;
    left:57px;
    transform:rotate(16deg)
}
.fio7::before{
    content:"fio1";
    background-color: transparent;
    position:absolute;
    border-top: black 2px solid;
    width: 17px;
    transform: rotate(-74deg);
    color: transparent;
    left:-2px;
    top:1px;
}
.linhabart7{
    content:"fio1";
    background-color: transparent;
    position:absolute;
    border-top: black 2px solid;
    width: 18px;
    transform: rotate(72deg);
    color: transparent;
    left:-6px;
    top:10px;
}
/* primeiro olho do bart */
.olhobart1{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    border: 1px black solid;
    top: 4px;
    right: -6px;
}
.olhobart1::before{
    content:"sou lindo";
    background-color: black;
    color: transparent;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    top: 11px;
    left: 11px;
}
/* pequeno detalhe no rosto dos simpsons */
.detbart1{
    background-color: rgb(255, 217, 0);
    width: 20px;
    height: 12px;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
    top: 16px;
    left: -7px;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
}
.detbart1::before{
    content: "bart";
    position: absolute;
    width: 18px;
    height: 10px;
    background-color: rgb(255, 217, 0);
    color: transparent;
    bottom: 10px;
    left: 5px;
}
/* nariz */
.narizbart{
    background-color: rgb(255, 217, 0);
    position: absolute;
    height: 12px;
    width: 27px;
    top: 24px;
    left: 7px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left: black solid 1px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
.narizbart::before{
    content:"p";
    background-color: rgb(255, 217, 0);
    width: 18px;
    height: 10px;
    color: transparent;
    position: absolute;
    top: 7px;
    left: 13px;
}
/* olho 2 do bart */
.olhobart2{
    background-color: white;
    width: 30px;
    height: 30px;
    position:absolute;
    border-radius: 100%;
    bottom: 7px;
    left: 13px;
    border: 1px black solid;
}
.olhobart2::before{
    content:"flamengo";
    background-color: black;
    color: transparent;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    top: 12px;
    left: 12px;
}
/* orelha */
.orelhabart{
    background-color: rgb(255, 217, 0);
    width: 16px;
    height: 14px;
    position: absolute;
    border-radius: 100%;
    border-right: 2px black solid;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    top: 30px;
    left: 44px;
}
.orelhabart::before{
    content: "p";
    background-color: rgb(255, 217, 0);
    color: transparent;
    position: absolute;
    width: 10px;
    height: 14px;
    border-radius: 30px;
    bottom: 0px;
}
.detbartorelha{
    background-color: transparent;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    border-right: 1px black solid;
    top: 3px;
    left: 2px;
    transform: rotate(-80deg)
}
.detbartorelha::before{
    content:"yellow";
    color: transparent;
    background-color: transparent;
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 100px;
    border-bottom: 1px black solid;
    bottom: 3px;
    left:1px;
}
/* boca do bart */
.pescoçobart{
    background-color: rgb(255, 217, 0);
    width: 34px;
    height: 33px;
    position: absolute;
    top: 75px;
    left: 28px;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
}
.pescoçobart::before{
    content: "s";
    background-color: rgb(255, 217, 0);
    color: transparent;
    width: 14px;
    height: 14px;
    position: absolute;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    bottom: 21px;
    left: -13px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
/* linha da boca */
.linhabartboca{
    background-color: rgb(255, 217, 0);
    width: 26px;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid black;
    top: -10px;
    left: -15px;
}
.linhabartboca::before{
    content: "t";
    background-color: rgb(255, 217, 0);
    width: 10px;
    height: 10px;
    position: absolute;
    color: transparent;
    top: 20px;
    left: 15px;
}
.linhabartboca2{
    background-color: transparent;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    border-right: 2px solid black;
    left: 16px;
    top: 8px;
    transform: rotate(-40deg)
}
/* para upar */